<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/fastpca.js') }}"></script>
        <script src="{{ url_for('static', filename='js/errorPlot.js') }}"></script>

        <style>
        path.domain {
            fill: none;
            stroke-width: 2px;
            stroke: black;
        }
        .tick > line {
            fill: none;
            stroke: black;
        }
        .tick > text {
            fill: black;
        }
        .left{
            float:left; 
            margin-left: 50px;
        }
        </style>
    </head>
    <body>
        <div class="left" id="ra_dec_scatter"></div>
        <div class="left" id="plotPCA"></div>
    </body>
</html>
